<ion-view view-title="Dashboard">
  <ion-content>
    
    <h4 class="padding">Night template for ionic</h4>
    
    <p class="padding">
      This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    
    <h4 class="padding positive">
      These are regular buttons:
    </h4>
    
    <div class="row">
      <button class="col button button-block button"> button-default </button>
      <button class="col button button-block button-stable"> button-stable </button>
    </div>
    <div class="row">
      <button class="col button button-block button-dark"> button-dark </button>
      <button class="col button button-block button-light"> button-light </button>
    </div>
    <div class="row">
      <button class="col button button-block button-positive"> button-positive </button>
      <button class="col button button-block button-calm"> button-calm </button>
    </div>
    <div class="row">
      <button class="col button button-block button-balanced"> button-balanced </button>
      <button class="col button button-block button-energized"> button-energized </button>
    </div>
    <div class="row">
      <button class="col button button-block button-assertive"> button-assertive </button>
      <button class="col button button-block button-royal"> button-royal </button>
    </div>
    
    <h4 class="padding energized">
      These are outline buttons:
    </h4>
    
    <div class="row">
      <button class="col button button-block button-outline"> button-outline </button>
      <button class="col button button-block button-outline button-stable"> outline-stable </button>
    </div>
    <div class="row">
      <button class="col button button-block button-outline button-dark"> outline-dark </button>
      <button class="col button button-block button-outline button-light"> outline-light </button>
    </div>
    <div class="row">
      <button class="col button button-block button-outline button-positive"> outline-positive </button>
      <button class="col button button-block button-outline button-calm"> outline-calm </button>
    </div>
    <div class="row">
      <button class="col button button-block button-outline button-balanced"> outline-balanced </button>
      <button class="col button button-block button-outline button-energized"> outline-energized </button>
    </div>
    <div class="row">
      <button class="col button button-block button-outline button-assertive"> outline-assertive </button>
      <button class="col button button-block button-outline button-royal"> outline-royal </button>
    </div>
    
    <span class="padding">
      For more info, go to Ionic docs:
    </span>
    
    <ul class="padding">
      <li>
        <a href="http://ionicframework.com/docs/overview/"  target="_blank">Overview</a>
      </li>
      <li>
        <a href="http://ionicframework.com/docs/components/" target="_blank">CSS Components</a>
      </li>
      <li>
        <a href="http://ionicframework.com/docs/api/"  target="_blank">Javascript</a>
      </li>
    </ul>
    
  </ion-content>
</ion-view>
